.line {
    fill: none;
    stroke: steelblue;
    stroke-width: var(--lwc-borderWidthThick, 2px);
  }
  
  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }
  
  .grid path {
    stroke-width: var(--lwc-spacingNone, 0);
  }