.scatterplot {
    position: relative;
}

.tooltip {
    position: absolute;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 200px;
    text-align: left;
    color: white;
}